apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "minio_server": "https://minio.vkwm.ru",
      "minio_user": "gitopsbox@vk.team",
      "minio_password": "fMy4PQyGCM5gteu",
      "minio_api_version": "v4",
      "minio_ssl": "false"
    }

